<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--- daily file export of visual studio code installed extensions -->
<dict>
    <key>Label</key>
    <string>dotfiles.vscode.extensions</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/fish</string>
        <string>-C</string>
        <string>code --list-extensions | cat ~/.config/dotfiles/prefs/code/extensions</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>22</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
